
.errores {
	position: absolute;
	top:-45px;
	display: none;
	}
	
.msgerrores,
.msgerrores-doble {
	position: absolute;
	top:-50px;
	left:0;
	z-index: 20;
	display:none;
	}
	
.contenedor-msgerror {
	max-width:200px;
	-webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	/* background: none repeat scroll 0 0 #99ffff;*/
	-webkit-background: linear-gradient(to top, #00174a, #001f5d);
	-moz-background: linear-gradient(to top, #00174a, #001f5d);
	-ms-background: linear-gradient(to top, #00174a, #001f5d);
	-o-background: linear-gradient(to top, #00174a, #001f5d);
	background: linear-gradient(to top, #00174a, #001f5d);
	border: 1px solid #00174a;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	font:14px "Museo 100", Arial, sans-serif;
	color: #fff;
	border-radius:5px;
	padding: 10px 15px;
	position:relative;
	}	
	
.indice-error {
	width:8px;
	height:8px;
	background:#00174a;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	position:absolute;
	bottom:-4px;
	left:50%;
	margin-left:-4px;
	}	
	
.msgerrores {
	top:-45px;
	left:0;
	}	

.msgerrores-doble {
	top:-62px;
	left:0;
	}

#msg_comfirma_envio{
	position: absolute;
	top:50%;
	left:50%;        
	width:400px;       
	margin-left:-200px;
	height:300px;       
	margin-top:-150px;
	border:1px solid #808080;
	padding:5px;
	background: rgba(255, 0, 0, 0.4);
	}