@charset "utf-8";
/* CSS Document */

/* STAG SANS */
@font-face {
	font-family: Stag-Sans-Light;
	src: url(../fonts/Stag-Sans-Light.otf);
}

@font-face {
	font-family: Stag-Sans-Light-Italic;
	src: url(../fonts/Stag-Sans-Light-Italic.otf);
}

@font-face {
	font-family: Stag-Sans-Book;
	src: url(../fonts/Stag-Sans-Book.otf);
}

@font-face {
	font-family: Stag-Sans-Book-Italic;
	src: url(../fonts/Stag-Sans-Book-Italic.otf);
}

@font-face {
	font-family: Stag-Sans-Medium;
	src: url(../fonts/Stag-Sans-Medium.otf);
}

@font-face {
	font-family: Stag-Sans-Medium-Italic;
	src: url(../fonts/Stag-Sans-Medium-Italic.otf);
}

@font-face {
	font-family: Stag-Sans-Semibold;
	src: url(../fonts/Stag-Sans-Semibold.otf);
}



#preloader {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #31322e;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 999999;
}

#status {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    background: url(../images/cargando.gif) no-repeat center;
    margin: -25px 0 0 -25px;
    border: 1px solid #999;
    border-radius: 6px;
    background-color: white;
    z-index: 9999999;
}