 /* Botón propio
-------------------------------------------------- */
 
/* Redefine los estilos de .btn */
/* Modificar el texto y el color de fondo en los tres estados
   principales del botón: default, hover y active. */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007da7;
}
 
/* Aplicar gradientes de colores */
/* Nota: no se muestran aquí todos los gradientes que tendrás que
   definir para los diferentes navegadores. */
.btn-ttc {
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
  ...
}

/* Estilos del estado :hover del botón */
/* Uno de los estilos más sencillos y eficaces para el estado :hover
   consiste en subir hacia arriba ligeramente la imagen de fondo del
   botón, pero puedes definir otros estilos adicionales si quieres. */

/* GENERALES */
.underline {text-decoration:underline;}

.margin-bottom-x5 {margin-bottom:5px !important}
.margin-bottom-x10 {margin-bottom:10px !important;}
.margin-bottom-x15 {margin-bottom:15px !important;}
.margin-bottom-x20 {margin-bottom:20px;}

.margin-bottom-inline-x10 {margin-bottom:10px !important;}

.margin-top-x10 {margin-top:10px;}
.margin-top-x15 {margin-top:15px;}			
.margin-top-x20 {margin-top:20px;}	
.margin-top-x25 {margin-top:25px;}
.margin-top-x30 {margin-top:30px;}	
.margin-top-x35 {margin-top:35px;}	
.margin-top-x40 {margin-top:40px;}	
.margin-leftx20 {margin-left:20px !important;}

.line-separate-basic {width:100%; height:1px; display:block; background:#ddd;}

.margin-height-x15 {margin:15px 0}
.padding-x10 {padding:10px;}
.padding-x15 {padding:15px;}
.padding-bottom-x15 {padding-bottom:15px;}
.padding-bottom-x30 {padding-bottom:30px;}
.padding-top-x15 {padding-top:15px;}
.padding-x10-5 {padding:10px 5px;}
.padding-height-x15 {padding:15px 0}
.padding-width-x15 {padding:0 15px}
.margin-height-x10 {margin:10px 0}

.padding-bottom-x5 {padding-bottom:5px !important;}

.no-margin-top-x5 {margin-top:-5px;}
.no-margin-bottom {margin-bottom:0 !important;}

.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.text-bold {font-weight:bold !important;}
.text-bold td {font-weight:bold !important;}

.border-right {border-right:1px solid #e0e4e1 !important;}
.border-left {border-left:1px solid #e0e4e1 !important;}
.border-width {border-right:1px solid #e0e4e1 !important; border-left:1px solid #e0e4e1 !important}

.panel-default > .sub-panel-heading {
  background: transparent linear-gradient(to bottom, #89D1F3 0%, #009DE5 100%) repeat scroll 0% 0% !important;
  }
  
.background-primary {background:#f4f7f5 !important;}
.background-secundary {background:#fff !important;}
.container-section-secundary {background:#fff;}
.panel-body-general {padding:15px; border:1px solid #e0e4e1; border-radius:5px;}

/* INICIO - PANEL VERSIÓN WHITE */	
.panel-heading-white .panel-heading {background:#fff !important; border:1px solid #ddd !important; border-bottom:0 none !important; border-bottom:0 none !important;}
.panel-heading-white .border-bottom-acordeonv2 {border-bottom:1px solid #ddd !important;}
.panel-heading-white .panel-heading-table {background:#e0e4e1 !important;}
.panel-heading-white .panel-heading-table th {background:#e0e4e1 !important;}
.panel-heading-white .header2 {background: #f8f8f5 !important; border-right:1px solid #e0e4e1 !important;}
.panel-heading-white .header3 {background: #f8f8f5 !important; border-left:1px solid #e0e4e1 !important; border-right:1px solid #e0e4e1 !important;}
.panel-heading-white .panel-heading a {color:#00b0ee !important;}
.panel-heading-white .panel-body {background:#f4f7f5; border-top:1px solid #ddd !important; border-bottom:0 none !important;}
.panel-heading-white .panel-body .panel-body-tabs {border-bottom:1px solid #ddd !important;}
.panel-heading-white .panel-body .container-section-primary {background:#fff !important;}
.panel-heading-white .panel-body .container-section-secundary {background:#f4f7f5 !important;}

.panel-heading-white .panel-body .background-primary-block {background:#fff !important; border-bottom:1px solid #e0e4e1 !important;}

.panel-heading-white .panel-body-tabs-right {border-bottom:1px solid #ddd !important;}	

.panel-heading-white .panel-title {color:#00b0ee !important;}
.panel-heading-white .panel-default > .border-bottom-acordeonv2 {color:#00b0ee !important;}
/* FIN - PANEL VERSIÓN WHITE */	

.modal-height-sm {margin-top:5% !important;}		
.modal-height-md {margin-top:10% !important;}	
	
@media (max-width: 991px) {
	.margin-bottom-inline-md-x15 {margin-bottom:15px !important}	
	.margin-bottom-inline-x10 {margin-bottom:0 !important;}
	}	
	
@media (max-width: 768px) {
	.clear-checkbox > input[type="checkbox"] {
		margin-left:20px !important;
		}	
}
	
@media (max-width: 767px) {
	.col-md-3 {
		padding-right:15px !important;
		}	
		
	.margin-top-x10-md {
		display:block;
		margin-top:10px !important;
		}
		
	.margin-bottom-x10-hidden {
		margin-bottom:10px;
		}
}

/* NAVS BULLETS */
.container-tabs-bullet {
	/*background: transparent linear-gradient(to bottom, #fefefe 0%, #f6f8f9 100%) repeat scroll 0% 0%;
	border:1px solid #d4e1ed;
	border-radius:5px;*/
	margin:0 0 15px 0;
	/*box-shadow: 0px 1px 1px #e2e2e2;*/
	}
.tabs-bullets {
	list-style:none;
	padding:10px 0 0 0;
	width:100%;
	/*overflow:hidden;*/
	}
.tabs-bullets li {
	margin-top:20px;
	padding:0 12.2%;
	display:inline-block;
	/*background:url(images/line-tabs-bullets.png) center repeat-x;*/
	position:relative;
	}
.tabs-bullets li .text-bullet {
	font-family: Stag-Sans-Book, Arial, sans-serif;
    font-size: 15px;
	position:absolute;
	width:70%;
	top:-25px;
	left:15%;
	text-align:center;
	}
.tabs-bullets li:first-child {
	padding-left:5%;
	}	
.tabs-bullets li:first-child .text-bullet {
	left:-3%;
	}	
.tabs-bullets li:last-child {
	padding-right:4.5%;
	}	
.tabs-bullets li:last-child .text-bullet {
	left:34%;
	}			
.tabs-bullets li a {
	width:40px;
	height:40px;
	display:block;
	background: transparent linear-gradient(to bottom, #0065c2 0%, #004c92 100%) repeat scroll 0% 0%;
	border-radius:20px;
	margin:0 auto;
	position:relative;
	}
.tabs-bullets li a .iconoPreEvaluacion,
.tabs-bullets li a .iconoSolicitud,
.tabs-bullets li a .iconoEvaluacion,
.tabs-bullets li a .iconoDictamen {
	width:24px;
	height:24px;
	display:block;
	position:absolute;
	top:8px;
	left:8px;
	}	
.tabs-bullets li a .iconoPreEvaluacion {background:url(../images/iconoPreEvaluacion.png) no-repeat;}	
.tabs-bullets li a .iconoSolicitud {background:url(../images/iconoSolicitud.png) no-repeat;}	
.tabs-bullets li a .iconoEvaluacion {background:url(../images/iconoEvaluacion.png) no-repeat;}	
.tabs-bullets li a .iconoDictamen {background:url(../images/iconoDictamen.png) no-repeat;}	
	
.tabs-bullets li a.active,
.tabs-bullets li a:hover,
.tabs-bullets li a:focus {
	background: transparent linear-gradient(to bottom, #07acd7 0%, #05a7d5 100%) repeat scroll 0% 0%;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
	}
.tabs-bullets li a.no-hover:hover, .tabs-bullets li a.no-hover:focus {background: transparent linear-gradient(to bottom, #0065c2 0%, #004c92 100%) repeat scroll 0% 0% !important;} 	

.line-tabs-bullets {
	width:82%;
	height:1px;
	display:block;
	margin:0 auto;
	background:#dcdcdc;
	position:absolute;
	top:50px;
	left:8%;
	z-index:0;
	}	
	
@media (max-width: 1040px) {
	.tabs-bullets li {
		padding:0 12%;
		}
	}		
@media (max-width: 1000px) {
	.tabs-bullets li {
		padding:0 11.7%;
		}
	}	
@media (max-width: 893px) {
	.tabs-bullets li {
		padding:0 11.3%;
		}
	}	
@media (max-width: 849px) {
	.tabs-bullets li {
		padding:0 11%;
		}
	}
@media (max-width: 789px) {
	.tabs-bullets li {
		padding:0 10.8%;
		}
	}

/* HEADER */
.header-layouts-login,
.header-layouts {
	display:none;
	}
	
.header-layouts-login li.color-1,
.header-layouts-login li.color-2,
.header-layouts-login li.color-3,
.header-layouts-login li.color-4,
.header-layouts-login li.color-5,
.header-layouts-login li.color-6,	
.header-layouts li.color-1,
.header-layouts li.color-2,
.header-layouts li.color-3,
.header-layouts li.color-4,
.header-layouts li.color-5,
.header-layouts li.color-6 {
	width:16.66666666666667%;
	height:10px;
	display:block;
	float:left;
	}

.header-layouts-login li.color-1,
.header-layouts-login li.color-2,
.header-layouts-login li.color-3,
.header-layouts-login li.color-4,
.header-layouts-login li.color-5,
.header-layouts-login li.color-6 {
	height:8px;
	}

.container-login {
	max-width: 580px;
    background-color: #fff;
	margin:0 auto;
	margin-top:10%;
	padding:40px 8.5% 70px 8.5%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
	border:1px solid #dcdcdc;
}

	
/* LOGIN */
.container-login-false {
    max-width: 610px;
	margin: 0px auto;

    padding: 15px;
	/*padding-top: 50%;
    margin-top: -43%;*/
}

.separator-login-lg {
	height:2px;
	background:#89d1f3;
	/*margin:0 auto;*/
	margin-top:26px;
	margin-bottom:26px;
	}

.body-container-login {
	max-width:400px;
	margin:0 auto;
	padding:30px 0 15px 0;
	background:#f4f7f5;
	border:1px solid #dcdcdc;
	border-radius:5px;
	}
	
.text-center > span {
	/*font-family:Stag-Sans-Book;*/
	max-height:125px;
	font-size:18px;
	color:#666;
	line-height:23px;
	}	
	
.title-container-general {
	font-size:20px;
	color:#0094e5;
	}	
	
.text-center > span.title-login {
	font-family:Stag-Sans-Light;
	font-size:28px;
	color:#0065be;
	border-left:1px solid #0065be;
	padding-left:15px;
	}
	
.form-signin {
	max-width:280px;
	margin:0 auto;
	}	

.separator-footer-login-hidden,	
.separator-footer-login {
	width:100%;
	height:1px;
	display:block;
	background:#dcdcdc;
	box-shadow: 0 1px 0 rgba(255,255,255, 0.75);	
	}	
.separator-footer-login-hidden {
	display:none;
	position:absolute;
	bottom:50px;
	left:0;
	}
/* VALIDACION LOGIN */
.contenedor-login {
	width:90px;
	height:30px;
	display:block;
	margin-right:60px;
	float:right;
	}	
.col-lg-5 {
	position:relative;
	}	
	
.header-layouts-login li.color-1,	
.header-layouts li.color-1 {
	background:#02428c;
	}	
	
.header-layouts-login li.color-2,	
.header-layouts li.color-2 {
	background:#0051a3;
	}	

.header-layouts-login li.color-3,	
.header-layouts li.color-3 {
	background:#007dc7;
	}	
	
.header-layouts-login li.color-4,
.header-layouts li.color-4 {
	background:#1799da;
	}	
	
.header-layouts-login li.color-5,	
.header-layouts li.color-5 {
	background:#61c2f0;
	}	
	
.header-layouts-login li.color-6,	
.header-layouts li.color-6 {
	background:#9dd7f6;
	}						

.container-nav-right {
	background:#f4f7f5;
	border:1px solid #d4e1ed;
	margin:15px 20px 25px 20px;
	padding:0 10px !important;
	float:left !important;
	}
	
.container-nav-right .btn-secundary {
	margin:11px 0 0 20px;
	}	
	
.container-nav-right .btn-secundary > a {
	color:#fff;
	text-decoration:none;
	}	
.color-fuchsia {
	color:#c4136c !important;
	}	
	
.container-user {
	margin:5px 0;
	padding:0;
	float:left;
	list-style:none !important;
	}	
.container-user > li.idUser {
	font-size:12px;
	color:#0065be;
	}		
.container-user > li .idTimer {
	font-size:11px;
	margin:0 10px 0 0 !important;
	}	
.container-user > li {
	font-size:10px;
	color:#999;
	line-height:12px;
	display:inline-block;
	padding:0 10px;
	border-right:1px solid #d4e1ed;
	}	
.container-user > li:first-child {
	padding-left:0;
	}
.container-user > li:last-child {
	border-right:0;
	padding-right:0;
	}	
	

/* BODY */
.container-section-primary {
	background:#f4f7f5 !important;
	border:1px solid #dcdcdc;
	border-radius:5px;
	}
	
.container-section-secundary {
	background:#fff;
	border:1px solid #dcdcdc;
	border-radius:5px;
	}	
	
.visible-header-general {
	display:block;
	}
	
.invisible-header-general {
	display:none;
	}	
		
.row > h2 {
	margin-top:28px !important;
	}		
	
.container-list-right {
	background:#fbf1d0;
	border:1px solid #fbbd2c;
	border-radius:3px;
	margin:18px 0 18px 0 !important;
	padding-left:15px !important;
	}	
	
.container-list-right li {
	font-size:12px;
	color:#666;
	line-height:40px;
	padding-left:0 !important;
	padding-right:0 !important;
	display:block;
	float:right;
	}
	
.container-list-right li.separador {
	width:1px;
	height:8px;
	border-right:1px solid #999;
	margin:16px 15px 0 0;
	}		
	
.container-list-right li span {
	color:#00a9e8;
	}	
	
.container-list-right li:first-child {
	margin-left:5px;
	}	
	
.container-list-right li:first-child {
	margin-right:15px;
	}	
	
.container-list-right li:last-child {
	margin-right:15px;
	}	
	
.container-list-right li a {
	margin-top:8px;
	}	

.list-options {
	margin:0;
	margin-top:5px;
	padding:0;
	list-style:none;
	}
.list-options li {
	float:left;
	}	
.list-options li a {
	height:16px;
	display:block;
	color:#777;
	text-decoration:none;
	padding-left:20px;
	margin-right:15px;
	}	
.iconoContacto {background:url(../images/botonContacto.png) no-repeat;}	
.iconoConfiguracion {background:url(../images/botonConfiguracion.png) no-repeat;}	
.iconoManual {background:url(../images/botonManual.png) no-repeat;}	

.icon-button {
	margin-left:20px !important;
	padding: 0 5px 0 5px !important;
	}
.icon-button > img {
	padding: 0 0 2px 0 !important;
	}

.botonDesplegar {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/botonDesplegar.png) no-repeat center;
	margin:-3px 5px 0 -3px;
	}
.botonPlegar {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/botonPlegar.png) no-repeat center;
	margin:-3px 5px 0 -3px;
	}	
.botonCalendario {
	width:16px;
	height:16px;
	display:block;
	background:url(../images/botonCalendary.png) no-repeat center;
	}	

.botonExportarPDF {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/iconoExportarPDF.png) no-repeat center;
	}
.botonExportarExcel {
	width:24px;
	height:24px;
	display:block;
	background:url(../images/iconoExportarExcel.png) no-repeat center;
	}	
	
.panel-heading-table {
	width:100%;
	background:#e0e4e1;
	color:#333;
	font-size:15px;
	border-bottom:1px solid #ccc !important;
	box-shadow: 0 1px 0 rgba(255,255,255,1) !important;
	position:relative;
	/*margin-bottom:1px;*/
	}
	
.table-border-top {
	border-top:1px solid #ddd !important;
	}	
	
.consolidated-footer:last-child td,
.consolidated-footer td {
	background:#f8f8f5 !important;
	color:#666 !important;
	font-weight:bold !important;
    border-left:1px solid #e0e4e1 !important;
	}
	
.consolidated-footer2 th,
.consolidated-footer2 td {
	background:#e0e4e1 !important;
	color:#666 !important;
	font-weight:bold !important;
    border: 1px solid #ddd !important;
	}	
		
.consolidated-footer-double {
	background:#f8f8f5 !important;
	color:#666 !important;
	font-weight:bold !important;
	border-radius:3px !important;
	font-size:12px;
	border-top:0 !important;
	}	
	
.col-deploy {
	background:#f8f8f5;
	border-right:1px solid #e2e2e2 !important;
	}
.result {
	font-size:13px;
	color:#666;
	font-weight:bold;
	}		
	
.col-deploy:hover,
.col-deploy:active,
.col-deploy:focus {
	background:#d9e8ef;
	}	
	
.not-data {
	color:#666;
	display:block;
	margin:0 0 0 5px !important;
	}		
	
.align-buttons {
	float:left !important;
	}	
	
.align-buttons li {
	display:inline-block;
	}	
	
.align-buttons-lg {
	margin:10px 0 0 0;
	float:right !important;
	}	
.pull-right-button {
	position:absolute;
	top:5px;
	right:15px;
	}
.pull-left-button {
	position:absolute;
	top:5px;
	left:15px;
	}		
/*	
.container-table-actions {
	list-style:none;
	display:block;
	}	
	
.container-table-actions > li {
	float:left;
	}	
.container-table-actions > li a {
	display:block;
	}	*/
	
.clear-table-left {
	padding-left:-15px !important;
	padding-right:-15px !important;
	}	
	
.container-legend {
	background:#fff;
	border:1px solid #dcdcdc;
	border-radius:3px;
	margin-top:10px;
	}	
	
.container-legend li {
	line-height:30px;
	font-size:11px;
	color:#666;
	padding-left:0 !important;
	padding-right:0 !important;
	}	
	
.container-legend li:first-child {
	margin-left:15px;
	}	
	
.container-legend li:first-child {
	margin-right:15px;
	}	
	
.container-legend li:last-child {
	margin-right:15px;
	}	

.legendObservado {
	width:15px;
	height:15px;
	display:block;
	background:#c4136c;
	/*border:1px solid #d8b6c7;*/	
	margin-bottom:-3px;
	}	
	
#table-footer {
	margin-right:0 !important;
	margin-bottom:0 !important;
	}
	
.panel-body-secundary {
  padding:15px;
  margin-bottom:15px;
  background-color:#fff;
  border:1px solid #dcdcdc;
  border-radius:5px;
}		

.question-label {
	color:#0065be;
	white-space:pre-wrap;
	}
	
.question-header {
	color:#0094e5;
	margin-top:1px;
	margin-bottom:4px;
	white-space:pre-wrap;
	}	
	
.answer-parrafo {
	color:#666;
	white-space:pre-wrap;
	}	
	
.observation-label {
	color:#0065be;
	}	
	
/* TABS */
.panel-body-tabs-right {
	border-radius:5px 0 5px 5px !important;
	}
.tabs-right li {
	margin-left:5px;
	float:right !important;
	}

.panel-body-tabs {
	background:#fff !important;
	border-radius:0 5px 5px 5px;
	border-top:1px solid #dcdcdc;
	}
.container-tabs .tab-content {
	color:#00b0ee;
	}
.container-tabs .nav-pills > li > a {
	font-size:14px;
	color:#00b0ee;
	border-radius:5px 5px 0 0;
	border:1px solid #dcdcdc;
	/*border-bottom:0 none;*/
	margin-bottom:-1px;
	padding:10px 15px !important;
	}
.container-tabs .nav-pills > li > a:hover {
	border-bottom:1px solid #fff;
	}	
	
.container-tabs .nav-pills > li > a:active {
	background:#fff !important;
	}	
	
/* FOOTER */
.footer-bbva {
	margin-top:20px;
	padding: 10px 0 8px 0;
	border-top:2px solid #89d1f3;
	}	
	
.footer-bbva p {
	font-size:11px !important;
	color:#666;
	}

.logo-bbva-login,
.logo-bbva {
	display:block;
	}	
.logo-bbva-login-responsive,	
.logo-bbva-responsive {
	display:none;
	margin:44px 0 32px 0;
	float:left;
	}	
.logo-xs {
	width:190px;
	height:auto;
	}	
	
.title-change-md {
	width:80%;
	display:none;
	}
.title-change-md {		
	margin-top:10px !important;
	}
h2.title-general {
	margin-top:28px;
	/*margin-left:15px;*/ /* CAMBIOS */
	}	
h2.full-width-title-general {
	margin-bottom:15px 0!important;
	border-bottom:1px solid #dcdcdc;
	width:100% !important;
	padding-bottom:25px;	
	}
	
.panel-body-light {
	padding: 15px;
	}
	
.separator-nav-title-lg {		
	width:96%;
	height:2px;
	display:none;
	background:#89d1f3;
	margin:0 auto;
	}		
	
.separator-nav-title-md {		
	width:96%;
	height:4px;
	display:none;
	background:#89d1f3;
	margin:0 auto;
	}	
	
.separator-tabs-questions-md {		
	width:100%;
	height:1px;
	display:none;
	background:#dcdcdc;
	margin:0 auto;
	}	
	
.separator-general-lg {		
	width:100%;
	height:1px;
	display:block;
	background:#89d1f3;
	margin:0 auto;
	}	
	
.separator-general-2 {		
	width:100%;
	height:1px;
	display:block;
	background:#dcdcdc;
	margin:15px auto 10px auto;
	}				
	
.hidden-height-x2line,
.hidden-height-line {
	display:none;
	}
	
.no-padding {
	padding-left:0 !important;
	padding-right:0 !important;
	}
	
.no-margin {
	margin-left:0 !important;
	margin-right:0 !important;
	margin-top:0 !important;
	margin-bottom:0 !important;
	}	

h6 {
	font-family: Stag-Sans-Light !important;
	color:#777 !important;
	margin-bottom:20px !important;
	}
	
h6 > span {
	font-family: Stag-Sans-Light !important;
	font-size:22px !important;
	color:#777 !important;
	/*color:#0094e5 !important;*/
	}	
	
/*.noty_bar {
	width:100% !important;
	padding-left:-240px !important;
	}	*/
	
.buttons-login {
	/*margin-left:10%;*/
	display:block;
	margin-top:20px;
	margin-bottom:20px !important;
	overflow:hidden;
	}				
	
.change-password {
	font-size:14px !important;
	color:#0094e5 !important;
	font-weight:bold;
	display:block;
	margin-top:16px !important;
	margin-bottom:0 ;
	outline: none !important;
	}	
.change-password:hover {	
	color:#0065be !important;	
	}

.change-password:hover,
.change-password:active,
.change-password:focus {
	text-decoration:none !important;
	}	
	
.footer-modal-login {
	color:#0065be;
	text-align:center;
	}	
	
.relative {
	position:relative;
	}	
	
.separator-footer-modal-login {
	width:100%;
	height:1px;
	display:block;
	background:#dcdcdc;
	box-shadow: 0 1px 0 rgba(255,255,255, 0.75);
	margin:20px 0;
	}	
	
.title-alert-situation-bank {
	text-decoration:underline
	}	

.subparagraph-situation-bank {
	font-size:14px !important;
	color:#666;
	margin-bottom:0;
	}
	
.position-right-RUC {
	float:right;
	}	

.container-nav-right .btn-off {
	float:right;
	}
	
/********************************/
/*******	ACORDION	*********/
/********************************/
.panel .panel-acordion {
	background:#1799da !important;
	}
	
.list-actions {
	list-style:none;
	margin:0 auto;
	padding:0;
	display:table;
	}
.list-actions li {
	display:block;
	float:left;
	}	
	
.header-general-float {
	position:absolute;
	top:-15px;
	left:0;
	}
	
.non-btn {
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    border: 0 none !important;
    outline: 0 none !important;
	}
.botonCerrar {
    position: absolute;
    top: 8px;
    right: 13px;
    cursor: pointer;
}	

@media (max-width: 929px) {
	.header-layouts {
		display:block;
		}
	.logo-bbva {
		display:none;
		}	
	.logo-bbva-responsive {
		display:block;
		height:auto;
		}	
}

@media (max-width: 768px) {
	.container-section-primary,
	.container-section-secundary {
		border-top:1px solid #dcdcdc !important;
		border-bottom:1px solid #dcdcdc !important;
		border-radius:0 !important;
		}	
	
	.panel-heading-table {
		padding:12px 15px !important;
		}		
		
	.panel-body-light {
		padding: 10px;
		}	
		
	.btn {
		padding: 3px 10px 3px 15px !important;
	}
	
	.icon-button {
		padding: 3px 10px 3px 10px !important;
		}
	
	.mon-padding-width {
		padding-left:0 !important;
		padding-right:0 !important;
		}
	
	input[type="text"], input[type="password"], button, select {
		height:32px !important;
		}
		
	.radio-inline,
	.checkbox-inline {
	  padding-left: 20px !important;
	  margin-bottom: 0;
	}
	
	input[type="radio"], input[type="checkbox"] {
		margin: 0 0 0 0 !important;
		margin-left: -20px !important;
		width: 16px;
		height: 16px;
	}
	
	.container-nav-right .btn-secundary {
		margin: 7px 0 0 20px;
		}
	
		
	.input-group-addon {
    	padding: 4px 10px !important;
	}	
}

@media (max-width: 767px) {
	.title-change-lg {
		display:none;
		}	
	.title-change-md {
		display:block;
		margin-left:15px !important;
		}
		
	.separator-nav-title-lg {		
		display:block;
		}
		
	.navbar {
		margin-bottom:0 !important;
	}
	.navbar-nav {
		margin:10px 0 !important;
		margin-bottom:10px !important;
	}
	.navbar-default .navbar-nav > li:first-child > a {
    	border-radius:5px 5px 0 0 !important;
	}
	
	.navbar-default .navbar-nav > li:last-child > a {
    	border-radius:0 0 5px 5px !important;
	}

	.navbar-nav > li > a {
		background:#0077c1;
		/*border: 1px solid #00529b;*/
    	border-top: 0 none;
	}
	.nav > li > a {
		padding: 10px 20px !important;
	}
	
	.nav > li > a > img {
		margin-right: 0  !important;
		float:right;
	}	
	
	.container-nav-right {
		margin:15px 0 15px 20px;
		}
.align-buttons-lg {
		padding-left:15px;
		padding-right:15px;
		}	
			
	.position-right {
		float:left !important;
		}	
		
	.position-left {
		float:right !important;
		}				
}

.border-radius-x5 {border-radius:5px !important;}

.leyenda-MO-Evaluacion {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:10px;
	right:15px;
	}
.leyenda-MO-Evaluacion li {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#666;
	float:left;
	padding:0 15px 0 0;
	display:block;
	}	
.leyenda-MO-Evaluacion li div {
	width:10px;
	height:10px;
	display:block;
	border-radius:2px;
	float:left;
	margin:3px 5px 0 0;
	}
.color-4 {
	background:#0094e2;
	}	
.color-6 {
	background:#00408e;
	}	
	